.body--flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #fff; */
}

.projeto--container {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.projeto--container .projeto--card {
    max-width: 266px;
    position: relative;
    height: 215px;
    background-color: #333;
    margin: 23px 17px;
    padding: 22px 7px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 21px;
    transition: 0.4s ease-in-out;
}

.projeto--container .projeto--card:hover {
    height: 100%;
}

.projeto--container .projeto--card .imgBox {
    position: relative;
    width: 106%;
    height: 100%;
    top: -32px;
    left: -6px;
    z-index: 10;
    box-shadow: 5px 11px 5px rgba(0, 0, 0, 0.5);
    border-radius: 21px;
}

.projeto--container .projeto--card .imgBox img {
    max-width: 100%;
    border-radius: 21px;
}

.projeto--container .projeto--card .projeto--content {
    position: relative;
    margin-top: -140px;
    padding: 6px 6px;
    text-align: center;
    color: #fff;
    background-color: #333;
    border-radius: 36px;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.projeto--container .projeto--card:hover .projeto--content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.1s;
}

.projeto--card .projeto--content h2,
ul,
.p {
    color: #fff;
    text-align: left;
    padding: 10px;
    margin-bottom: 0;
}

.projeto--card .projeto--content h2 {
    margin-top: 8px;
    font-weight: bold;
    font-size: 2.1rem;
}

.projeto--content ul {
    margin-top: 1rem;
}

.projeto--content button {
    width: 100%;
}

.botoes {
    display: block;
    line-height: 3;
}

.projeto--card {
    padding-left: 0px;
    padding-right: 0px;
    width: 227px;
}

.imgBox {
    height: 227px;
    width: 226px;
}

.points {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.point {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.point.active {
    background-color: #B28756;
}