*{
    margin: 0;
    padding: 0;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}


a:link{
    text-decoration:none;
}

.spanColor{
    color: #2c3e50;
}


.foto-perfil{
    height: 100%;
    width: 28%;
    max-width: 100%;
    border-radius: 50%;
}
 
.btn-contato{
    background: #18bc9c;
    border: 0;
    border-radius: 10%;
    padding: 15px;
    color:black;
}

.inicio{
   background-image: url(https://i.imgur.com/IfRic9n.png);   
}

.icon{
    
    padding-left: 7px;
    font-size: 30px;
}

.github{color: black !important;}
.gitlab{color: #FF4500 !important;}
.instagram{color:  #f82790 !important;}
.linkedin{color: #007bb6 !important;}

.social{
    margin: 4px;
}

.quick{
    color: #ff0d78;
}

.corPrimaria{
    background-color: #18bc9c;
}

.corSecundaria{
    background-color: #2c3e50;
}

p{
    font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
    color: black !important;
}

.icones{
    padding-left: 8px;
}

.titulosBranco{
    text-decoration: underline;
    text-underline-position: below;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.titulosVerde{
    text-decoration: underline;
    text-underline-position: below;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #18bc9c;
}

.textoBranco{
   color: white !important;
}

.jumbotron-heading{
    margin-bottom: 0px;
}
.jumbotron{
    margin-bottom: 0px;
}

.textFooter{
    margin: 0px;
    padding-bottom: 15px;
    padding-top:15px;
}